/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../sass/style.scss */
html, body, * {
  font-family: 'Roboto condensed', sans-serif;
  text-decoration: none;
}

/* line 15, ../sass/style.scss */
body {
  background-color: #222;
}

/* line 19, ../sass/style.scss */
.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
}

/* line 25, ../sass/style.scss */
#header {
  margin-top: 50px;
}
/* line 27, ../sass/style.scss */
#header div {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  font-size: .8em;
  letter-spacing: 6px;
  padding-left: 5px;
}

/* line 37, ../sass/style.scss */
img#logo {
  display: block;
  margin: 0 auto;
}

/* line 42, ../sass/style.scss */
form {
  display: flex;
  justify-content: center;
}
/* line 45, ../sass/style.scss */
form * {
  margin-right: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 8px;
}
/* line 51, ../sass/style.scss */
form input[type='text'] {
  width: 300px;
}
/* line 54, ../sass/style.scss */
form input[type='number'] {
  width: 100px;
}
/* line 57, ../sass/style.scss */
form #submit {
  padding: 0 30px;
  border: 0;
  background-color: #D52F2F;
  color: #fff;
}

/* line 65, ../sass/style.scss */
#results-div {
  color: #fff;
  margin: 0 30px;
}
/* line 68, ../sass/style.scss */
#results-div hr {
  border: 1px solid #333;
}

/* line 73, ../sass/style.scss */
#show-results {
  margin-top: 40px;
}
/* line 76, ../sass/style.scss */
#show-results .result {
  padding: 10px;
  margin: 3px;
  overflow: hidden;
  text-align: center;
  background-color: #252525;
  -webkit-transition: background-color 300ms;
  -moz-transition: background-color 300ms;
  -o-transition: background-color 300ms;
  transition: background-color 300ms;
}
/* line 84, ../sass/style.scss */
#show-results .result:hover {
  background-color: #333;
}
@media (max-width: 660px) {
  /* line 76, ../sass/style.scss */
  #show-results .result {
    padding: 0;
  }
}
/* line 90, ../sass/style.scss */
#show-results .result .thumbnail {
  height: 240px;
  width: 162px;
  margin: 0 auto;
}
@media (max-width: 660px) {
  /* line 90, ../sass/style.scss */
  #show-results .result .thumbnail {
    width: 155px;
  }
}
/* line 98, ../sass/style.scss */
#show-results .result .info {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 104, ../sass/style.scss */
#show-results .result .info a h2.movie-name {
  color: #fff;
  display: inline-block;
  font-size: .85em;
}
/* line 109, ../sass/style.scss */
#show-results .result .info a span.year {
  color: #888;
}

/* line 119, ../sass/style.scss */
#mv-lightbox {
  padding: 10px;
}
/* line 121, ../sass/style.scss */
#mv-lightbox .container {
  display: flex;
  align-items: center;
  color: #f1f1f1;
}
/* line 127, ../sass/style.scss */
#mv-lightbox .container img#mv-poster {
  margin-right: 15px;
}
@media screen and (max-width: 770px) {
  /* line 127, ../sass/style.scss */
  #mv-lightbox .container img#mv-poster {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
/* line 136, ../sass/style.scss */
#mv-lightbox .container #mv-details {
  width: 100%;
}
/* line 138, ../sass/style.scss */
#mv-lightbox .container #mv-details #mv-heading {
  display: flex;
  justify-content: space-between;
}
/* line 142, ../sass/style.scss */
#mv-lightbox .container #mv-details #mv-heading #mv-name, #mv-lightbox .container #mv-details #mv-heading #rating-num {
  font-size: 3em;
  letter-spacing: 3px;
}
@media screen and (max-width: 530px) {
  /* line 142, ../sass/style.scss */
  #mv-lightbox .container #mv-details #mv-heading #mv-name, #mv-lightbox .container #mv-details #mv-heading #rating-num {
    font-size: 2em;
  }
}
/* line 149, ../sass/style.scss */
#mv-lightbox .container #mv-details #mv-heading #rating-num {
  color: #EBAB00;
}
/* line 154, ../sass/style.scss */
#mv-lightbox .container #mv-details .plot-section {
  margin: 20px 0;
  max-width: 600px;
}
/* line 159, ../sass/style.scss */
#mv-lightbox .container #mv-details #names {
  font-size: .9em;
  line-height: 20px;
}
/* line 164, ../sass/style.scss */
#mv-lightbox .container #mv-details #rest-details {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}
@media screen and (max-width: 660px) {
  /* line 164, ../sass/style.scss */
  #mv-lightbox .container #mv-details #rest-details {
    display: block;
  }
  /* line 171, ../sass/style.scss */
  #mv-lightbox .container #mv-details #rest-details hr {
    display: none;
  }
}
/* line 173, ../sass/style.scss */
#mv-lightbox .container #mv-details #rest-details .column {
  flex-grow: 3;
  line-height: 20px;
}
/* line 178, ../sass/style.scss */
#mv-lightbox .container #mv-details #rest-details hr {
  margin: 0 10px;
}
@media screen and (max-width: 770px) {
  /* line 121, ../sass/style.scss */
  #mv-lightbox .container {
    display: block;
  }
}
